<ion-content>
  <div class="logo">
    <img src="./assets/images/event-logo.png" />
  </div>
  <div class="auth-content text-center">
  


    <form #loginFormId="ngForm" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div *ngIf="submitted" class="alert alert-danger">{{ login_error }}</div>
      <h1 class="mb-4">Welcome,</h1>
      <p>
        Please sign in to continue.
      </p>
      <ion-item class="input-group mb-4">
        <ion-label position="floating">Username</ion-label>
        <ion-input
          formControlName="username"
          placeholder="Enter Username"
        ></ion-input>
        <ion-note
          *ngIf="
              password &&  password.invalid && (password.touched || loginFormId.submitted)
            "
          slot="error"
          >Username is required.</ion-note
        >
      </ion-item>

      <ion-item class="input-group mb-4">
        <ion-label position="floating">Password</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          placeholder="Enter Password"
        ></ion-input>
        <ion-note
          *ngIf="
              password &&  password.invalid && (password.touched || loginFormId.submitted)
            "
          slot="error"
          >Please enter valid password.</ion-note
        >
      </ion-item>
      <ion-item class="input-group mb-4" lines="none">
        <ion-checkbox slot="start"></ion-checkbox>
        <ion-label>Remember Me</ion-label>
      </ion-item>

      <ion-item class="input-group mb-4" lines="none">
        <a class="text-muted float-right">Forgot Password ?</a>
      </ion-item>

      <ion-button type="submit" *ngIf="!loading" expand="block"
        >Log In</ion-button
      >
      <ion-button type="submit" *ngIf="!!loading" expand="block">
        <div class="spinner-border text-light" role="status">
          <span class="sr-only">...</span>
        </div>
        Loading ...
      </ion-button>

      <button
        *ngIf="!!loading"
        type="submit"
        class="btn btn-style-one style-two shadow-2 mb-4"
      >
        <div class="spinner-border text-light" role="status">
          <span class="sr-only">...</span>
        </div>
        Loading ...
      </button>
    </form>
  </div>
</ion-content>
